@charset "UTF-8";

@font-face {
  font-family: "Raleway-VariableFont_wght";
  src: url("Raleway-VariableFont_wght.ttf")
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("Raleway-Bold.ttf")
}

#bloc_page{
  margin-left: 4%;
  margin-right: 4%;
}

html
{
  /* Set border-box as the global default */
  box-sizing: border-box;
  font-family: Raleway-VariableFont_wght;
}

*, *:before, *:after {
  /* Allow each element to override */
  box-sizing: inherit;
}

h2{
  font-size: 17px;
  font-family: Raleway-Bold;
}

/*Header*/

header{
  display: flex;
  justify-content: space-between;
}

#logo {
  display: flex;
  align-self: flex-end;
  width: 96px;
  height: 45px;
  margin-left: 10px;
}

/*Menu*/

nav ul{
  list-style-type: none;
  display: flex;
  font-size: 16px;
}

nav li {
  margin-top: 35px;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  padding-right: 30px;
  padding-left: 30px;
}

nav a:hover {
  color: #0065FC;
  border-top: solid #0065FC 3px;
  padding-top: 48px;
  padding-right: 30px;
  padding-left: 30px;
  transition: 0.3s ease-out;
}

/*Zone de recherche*/

#search{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 35px;
  margin: 0;
}

section h1{
  font-size: 22px;
  font-family: Raleway-Bold;
    margin: 0;
}

section p{
  margin: 0;
  padding-top: 10px;
}

#searchform{
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

#iconelocation{
  display: flex;
  background-color: #F2F2F2;
  height: 55px;
  width: 55px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  align-items: center;
  justify-content: center;
}


#search_field{
  border: #F2F2F2 1px solid;
  height: 55px;
  width: 250px;
  padding-left: 15px;
  font-family: Raleway-Bold;
}

input::placeholder{
  color: black;
}

#search_field:focus{
  outline: #F2F2F2;
}

#search_field:focus::placeholder{
  color: transparent;
}

#locationbutton{
  background-color: #0065FC;
  color: white;
  font-family: Raleway-Bold;
  font-size: 18px;
  height: 55px;
  width: 130px;
  border: #0065FC solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#locationbutton:hover{
  background-color: #F2F2F2;
  color: black;
  border-color: #F2F2F2;
  cursor: pointer;
}

#magnifying{
  display: none;
}

/*Filtres*/

#filtres{
  margin-top: 65px;
  display: flex;
}

#filtresliste{
display: flex;
}

button{
display: flex;
align-items: center;
background: white;
border: #D9D9D9 solid 2.5px;
border-top-right-radius: 140px;
border-bottom-right-radius: 140px;
font-family: Raleway-Bold;
font-size: 18px;
height: 50px;
margin-left: 60px;
padding: 15px;
padding-right: 25px;
}

button:hover{
  background-color: #DEEBFF;
  border-color: #DEEBFF;
  cursor: pointer;
}

.fa-child-reaching, .fa-dog, .fa-money-bill-wave, .fa-heart {
   color: #0065FC;
   background-color: #DEEBFF;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   padding: 15px;
   margin-left: -40px;
   margin-right: 10px;
}

.fa-child-reaching:hover, .fa-dog:hover, .fa-money-bill-wave:hover, .fa-heart:hover{
  background-color: #0065FC;
  color: #DEEBFF;
  border-color: #0065FC;
  cursor: pointer;
}

#ecofamilial{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

#romantiqueanimaux{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Nombre logements*/

#infonombre{
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 17px;
}

.fa-info{
  height: 13px;
  width: 13px;
  color: #0065FC;
  padding: 5px;
  border: solid 1px #D9D9D9;
  border-radius: 50%;
  margin-right: 10px;
}

/*Sections Hébergements et populaires*/

.hebergetpop{
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.hebergetpop h1{
  margin-left: 4%;
  margin-bottom: 4%;
  font-weight: bold;
  font-size: 22px;
}

/*Section Hébergements*/

#hebergementsmarseille {
  background-color: #F2F2F2;
  border-radius: 25px;
  width: 65%;
  padding-top: 3%;
}

#cardsmarseille{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

#hebergementsmarseille h3{
  margin-left: 5%;
  margin-top: 2%;
  padding-bottom: 2%;
  font-family: Raleway-Bold;
}

/*Section Les plus populaires*/

#lespopulaires{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F2F2F2;
  border-radius: 25px;
  padding-top: 3%;
  width: 32%;
}

#lespopulaires h1{
  margin-left: 0%;
}

#cardspopulaires{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#blackstar .fa-star{
  color: black;
  height: 25px;
  width: 25px;
}

/*Cards hébergements*/

.cardhebergement{
  box-shadow: 0px 0px 10px 1px #D9D9D9;
  width: 245px;
  height: 200px;
  border-radius: 15px;
  line-height: 1;
  background-color: white;
  margin-bottom: 3%;
}

.cardhebergement a{
  text-decoration: none;
  color: black;
}

.cardhebergement:hover{
  margin-left: 0.5%;
  margin-top: 0.5%;
}

.imghebergements{
  width: 235px;
  height: 115px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 2%;
  margin-bottom: 0;
}

.cardhebergement h2{
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 0;
}

.cardhebergement p{
  margin-left: 5%;
  margin-top: 0;
  font-size: 15px;
}

.prix{
  font-weight: Bold;
}

.stars{
  margin-left: 5%;
  margin-top: 2%;
}

.fa-star{
  color: #0065FC;
  height: 11px;
}

.stargrey .fa-star{
color: #F2F2F2;
}

/*Cards Les plus populaires */

.cardpopulaires{
  box-shadow: 0px 0px 10px 1px #D9D9D9;
  width: 345px;
  height: 140px;
  border-radius: 15px;
  line-height: 1;
  background-color: white;
  margin: 3%;
}

.cardpopulaires a{
  text-decoration: none;
  color: black;
}

.cardpopulaires:hover{
  margin-left: 0.5%;
}

.imgpopulaires{
  width: 125px;
  height: 130px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 2%;
  margin-top: 1.5%;
  margin-right: 0px;
}

.txtpopulaires{
  float: right;
  width: 55%;
  height: 140px;
}

.cardpopulaires h2{
  margin-top: 10%;
  margin-left: 2%;
  margin-bottom: 0px;
}

.cardpopulaires p{
  margin-left: 2%;
  margin-top: 0px;
  font-size: 15px;
}

.cardpopulaires .stars{
margin-top: 20%;
}



/*Version tablette*/

@media screen and (min-width:768px) and (max-width:991px){

#bloc_page{
  margin-left: 0%;
  margin-right: 0%;
}

header{
flex-wrap: wrap;
align-items: center;
padding-bottom: 13px;
border-bottom: solid #F2F2F2 3px;
}

#logo{
margin: auto;
margin-top: 20px;
margin-left: 45%;
}

nav{
width: 100%;
}

nav ul{

font-size: 18px;
padding: 0;
margin: 0;
}


nav li{

margin-right: 0px;
margin-left: 0px;
width: 100%;
}

nav a{
padding-right: 35%;
padding-left: 35%;

}

a.activites{
margin-left: 10px;
}

nav a.activites:hover {
border-top: none;
color: #0065FC;
border-bottom: solid #0065FC 3px;
padding-bottom: 12px;
padding-right: 50%;
padding-left: 35%;
}

nav a.heberg:hover {
border-top: none;
color: #0065FC;
border-bottom: solid #0065FC 3px;
padding-bottom: 12px;
padding-right: 30%;
padding-left: 35%;
}

#search{
  margin-left: 5%;
}

/*Zone filtre tablette*/

h2{
  font-size: 20px;
  margin-left: 5%;
}

#filtres{
display: flex;
flex-wrap: wrap;
margin-top: 40px;
}

#filtresliste{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

button{
  margin-top: 5px;
  margin-bottom: 5px;
}

#infonombre{
  display: flex;
  align-items: center;
  margin-left: 5%;
}

}


/*Version mobile*/

@media screen and (max-width: 767px){

  #bloc_page{
    margin-left: 0%;
    margin-right: 0%;
  }

/*Header mobile*/

header{
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 13px;
  border-bottom: solid #F2F2F2 3px;
}

#logo{
  margin: auto;
  margin-top: 20px;
  margin-left: 40%;
}

/*Menu navigation mobile*/

nav{
  width: 100%;
}

nav ul{

  font-size: 18px;
  padding: 0;
  margin: 0;
}


nav li{

  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

nav a{
  padding-right: 20%;
  padding-left: 20%;

}

a.activites{
  margin-left: 10px;
}

nav a.activites:hover {
  border-top: none;
  color: #0065FC;
  border-bottom: solid #0065FC 3px;
  padding-bottom: 12px;
  padding-right: 40%;
  padding-left: 20%;
}

nav a.heberg:hover {
  border-top: none;
  color: #0065FC;
  border-bottom: solid #0065FC 3px;
  padding-bottom: 12px;
  padding-right: 20%;
  padding-left: 20%;
}

/*Zone de recherche mobile*/

#search{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30px;
  margin-left: 6%;
  margin-right: 6%;
}

#searchform{
  border-radius: 15px;
  margin-top: 35px;
}

#search_field{
  border-right: none;
  border-top: solid #F2F2F2 1px;
  border-bottom: solid #F2F2F2 1px;
}

#magnifying{
  border-radius: 15px;
  display: flex;
  align-self: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  color: white;
  background-color: #0065FC;
  padding-top: 43%;
  margin-left: -10px;
}

#magnifying:hover{
  background-color: #F2F2F2;
  color: black;
  border-color: #F2F2F2;
}

#locationbutton{
  display: none;
}

/*Zone filtre mobile*/

h2{
  font-size: 20px;
  margin-left: 20px;
}

#filtres{
display: flex;
flex-wrap: wrap;
margin-top: 40px;
}

#filtresliste{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin-left: 10%;
  margin-right: 0%;
}

#ecofamilial{
width: 100%;
}

#romantiqueanimaux{
width: 100%;
}

button{
margin-left: 0;
display: flex;
margin-right: 5%;
margin-bottom: 15px;
}

/*Zone nombre logements mobile*/

#infonombre{
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
}

.fa-info{
  width: 15px;
}


}
